html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0 auto;
}

h1 {
  color: #F41F4C;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  margin-bottom: 0.3em;
}
h2 {
  color: #FF8746;
  font-family: 'Karla', sans-serif;
}
h3 {
  border-left: #46301a solid 4px;
  color: #46301a;
  font-family: 'Karla', sans-serif;
  padding-left: 4px;
}

p, pre {
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

li {
  color: #333333;
}

img {
  /* remove right-click save as option */
  pointer-events: none;
}

/* Regular Links */
a:link, a:visited {
  color: mediumpurple;
  text-decoration: none;  /* removes underline */
}
a:hover, a:active {  /* a:active is for when tapped/clicked on */
  color: lightskyblue;
}
/* Social Media Links */
a.social:link, a.social:visited {
  color: #F8456C;
  font-weight: 500;
}
/* Back to Top */
#backtop {
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 8px;
  /* bottom: 0px; */
  display: none;
  float: right;
  font-size: 2em;
  padding: 5px 7px 5px 7px;
  position: relative;
  /* position: fixed; */
  /* right: 0px; */
}
#backtop:hover {
  background-color:#FFBF9D;
}


.footer {
  background-color: #333333;
  display: flex;
  /* top, right & left, bottom padding */
  padding: 15px 20px 25px;
  width: 100%;
}
.footer p {
  color: white;
  font-size: medium;
  text-align: left;
}

.about {
  margin-bottom: 15px;
  overflow: hidden;
}
.about img {
  width: 100%;
}
/* Flex Social Media Icons */
/* See styles_links for Spacing */
div.social {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
  /* transitions */
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -ms-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
/* Focus on Hovering Icons */
div.social:hover > a.social:not(:hover) {
  opacity: 0.35;
  transition: .8s ease;
}

.logo {
  height: auto;
  margin-bottom: 15px;
  max-width: 150px;
}

/* Mobile Navigation Bar */
.nav_bar {
  background-color: white;
  height: 50px;
  width: 100vw;
}
/* Navigation Toggle Open/Close */
.nav_toggle {
  color: #F8456C;
  font-size: 36px;
  position: absolute;
  top: 5px;
  right: 10px;
}
/* Navigation Menu */
.nav {
  /* background-color for mobile overlay */
  background-color: rgba(255, 255, 255, 0.97);
  font-family: 'Karla', sans-serif;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  text-align: left;
  padding-top: 35px;
  width: 0;
  z-index: 1;
}
.nav_items {
  padding: 7%;
  width: 80%;
}
.nav a {
  color: #333333;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  padding: 5px;
}
.nav a:hover, a:active {
  color: #F8456C;
  background-color: #ffdecc;
}


/* Portfolio Home Links */
.flex-thumbnails {
  align-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.thumbnails {
  max-height: 66vh;
  overflow: hidden;
  position: relative;
}
.thumbnails img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.thumbnails-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  /* transitions */
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -ms-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.thumbnails-text {
  background-color: #33333352;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.thumbnails-text h1 {
  color: white;
  font-size: 2.2em;
}
.thumbnails-text p {
  color: white;
  font-size: small;
}
/* Message/descriptions @ top of portfolio pages */
.message {
  background-color: #ffdecc;
  padding: 5%;
  text-align: left; 
  width: 100%;
}

:focus {
  box-shadow: 0 0 0 2px #444444;
}


/* Desktop */
@media only screen and (min-width: 1080px) {
  body {
    max-width: 1920px;
  }
  .logo {
    height:auto;
    max-width:200px;
  }

  .about {
    max-width: 70%;
  }
  .about img {
    max-width: 55%;
  }

  .nav_bar {
    display: none;
  }
  .nav_toggle {
    visibility: hidden;
  }
  .nav {
    background-color: white;
    height: 100%;
    margin: 0;
    padding-top: 20px;
    text-align: left;
    width: 250px;
  }
  .nav_items {
    margin: 0 auto;
    padding: 8px;
  }
  .nav a {
    font-size: 1.15em;
  }

  #backtop {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }


  .about {
    padding: 10px;
  }

  div.content {
    margin-left: 250px;
    overflow: hidden;
  }
  div.social {
    justify-content: start;
  }
  .thumbnails {
    flex-grow: 1;
    width: 50%;
    height: 400px;
  }
  .thumbnails-overlay {
    opacity: 0;
  }
  .thumbnails:hover .thumbnails-overlay {
    opacity: 1;
  }
  .thumbnails-text {
    background-color: #333333c2;
  }
  .footer {
    /* top & bottom, right & left padding */
    padding: 0 10px;
  }
  .footer p {
    font-size: small;
  }
  
}

@media only screen and (min-width: 1300px) {
  .thumbnails {
    height: 500px;
  }
}