html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

h1 {
  color: #FF5900;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  margin-bottom: 0.3em;
  padding: 0;
}
h2 {
  color: #F41F4C;
  font-family: 'Karla', sans-serif;
}
h3 {
  border-left: #46301a solid 4px;
  color: #46301a;
  font-family: 'Karla', sans-serif;
  padding-left: 4px;
  padding-bottom: 0;
}

p {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  margin-top: 0.5em;
}
p.outlier {
  margin: 0 auto;
  max-width: 95%;
}

li {
  color: #333333;
}

:focus {
  box-shadow: 0 0 0 2px #444444;
}

a:link, a:visited {
  color: mediumpurple;
  text-decoration: none;  /* removes underline */
}
a:hover, a:active {  /* a:active is for when tapped/clicked on */
  color: #333333;
  text-decoration: none;
}

a.box:link, a.box:visited {
  border: crimson solid 2px;
  border-radius: 3px;
  color: crimson;
  font-weight: 500;
  padding: 8px;
  transition: all 750ms;
}
a.box:hover, a.box:active {
  background-color: crimson;
  border: crimson solid 2px;
  color: #ffffff;
  font-weight: 500;
}

a.shop:link, a.shop:visited {
  background-color: #FE9DB2;
  border-radius: 12px 0 0 12px;
  font-family: 'Karla', sans-serif;
  color: #333333;
  display: inline-block;
  font-weight: 700;
  line-height: 1; /* required for link button & info button to be aligned*/
  margin: 8px 0 0 0;
  padding: 22px 0px 22px 20px;
  transition: background-color 250ms linear;
  width: 70%;
}
a.shop:hover, a.shop:active {
  background-color: #94F1D5;
  color: #540A61;
}

a.misc:hover, a.misc:active {
  background-color: #BBFA9A;
  color: #540A61;
}

a.social:link, a.social:visited {
  color: #F8456C;
  text-decoration: none;  /* removes underline */
}
a.social:hover, a:active {  /* a:active is for when tapped/clicked on */
  color: #62E5BE;
  text-decoration: none;
}

button.info {
  background-color: #FFA06D;
  border: none;
  border-radius: 0 12px 12px 0;
  color: #333333;
  display: inline-block;
  height: 60px;
  line-height: 1;
  margin-left: -4px;  /* removes gap between shop/misc links & info button */
  padding: 5px 15px 5px 12px;
  transition: background-color 250ms linear;
  vertical-align: bottom;
}
button:hover, button:active {
  background-color: #F41F4C;
  color: white;
}

div.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -ms-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
/* focus on hovering over product images */
div.flex:hover > span.products:not(:hover)  {
  opacity: 0.35;
  transition: .8s ease;
}

/* spaces social media icons evenly */
div.social {
  display: flex;
  font-size: 38px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
  padding: 10px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* transitions */
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -ms-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
div.social:hover > a.social:not(:hover) {
  /* focus on hovering icons */
  opacity: 0.35;
  transition: .8s ease;
}

span.products {
  margin: auto;  /* Centers products on mobile */
  max-width: 82%;
  text-align: center;
}

.backtop {
  background-color: rgba(245, 245, 245, 0.5);  /* Match footer color */
  border-radius: 5px;
  bottom:10px;
  font-size: 2.3em;
  font-weight: 500;
  padding: 5px 5px 0 5px;
  position: fixed;
  right:10px;
}
.backtop:hover {
  background-color: #FE9DB2;
}
.caption {
  color: mediumpurple;
}
.center {
  margin: 0 auto;
  text-align: center;
}
/* Collapsible Content */
.content {
  cursor: auto;  /* Required to see cursor when hovered over content */
  margin: 0 auto;  /* centers content */
  max-height: 0;
  overflow: hidden;  /* Text doesn't load before show animation is done */
  text-align: left;
  transition: max-height 0.5s ease-in;
  visibility: hidden;
}

/* Larger than mobile settings */
@media only screen and (min-width: 720px) {
  body {
    background-attachment: fixed;
    background-image: url("images/chicken.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 290px;
  }
  a.shop:link, a.shop:visited {
    max-width: 60%;
    min-width: 45%;
  }
  .content {
    background-color: rgba(245, 245, 245, 0.8);  /* White smoke in rgba */
    max-width: 98%;
  }
  p.outlier {
    max-width: 75%;
  }
  span.products {
    margin: auto;
    max-width: 33%;
    padding: 1px 0 1px 2px;
  }
}

@media only screen and (min-width: 1080px) {
  .content {
    max-width: 66%;
  }
}
